.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#camera{
    float: right;\
    height: 100px;
}

.img{
    height: 100px;
}