.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#cam{
    width: 20px;
    height: auto;
    filter: invert(100%);
}

#camera {

}

.btn:hover #cam,.btn:hover #plus {
        filter: brightness(0%);
}

#plus {
    width: 20px;
    height: auto;
<<<<<<< HEAD
}

footer{
    
    bottom: 0%;
    position: fixed;

=======
    filter: invert(100%);
    
>>>>>>> 6393627499ca886bf8e01e03148eed9ac756145d
}