.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#back{
    width: 20px;
    height: auto;
    filter: invert(100%);
}


.btn:hover #back {
        filter: brightness(0%);
}
footer{
    bottom: 0%;
    position: fixed;
}

#footspace{
    height: 55.667px;
}

#recipe{
    margin-bottom: 55.667px;
}

#dropdown {
    padding-bottom: 10px;
}

#dropdown ul {
    right: 0;
    left: auto;
}

#recipe {
    float:left;
    width: 400px;
}

#recipe img {
    width: 100%;
}