.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#cam, #addBut, #search{
    width: 20px;
    height: auto;
    filter: invert(100%);
}


.btn:hover #cam,.btn:hover #addBut,.btn:hover #search {
        filter: brightness(0%);
}
footer{  
    bottom: 0%;
    position: fixed;
}

#searchbut {
    display: none;
}

#footspace{
    height: 55.667px;
}

#accordion {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

#recipe{
    margin-bottom: 55.667px;
}