.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#back, #options{
    width: 20px;
    height: auto;
    filter: invert(100%);
}


button:active #back, button:active #options {
        filter: brightness(0%);
}
button {
    background-color: #499c79;
    border: 1px solid #FFF;
    height: 40px;
    width: 45px;
    border-radius: 4px;
    padding-bottom: 5px;
    
}


button:active {
        background-color: #FFF;
}
footer{
    bottom: 0%;
    position: fixed;
}

#footspace{
    height: 55.667px;
}

#recipe{
    margin-bottom: 55.667px;

}

#contain {
    text-align: center;
}

.carousel-item img {
    border-style: solid;
    border-color: #000;
    max-width: 400px;
    width: 100%;
    height: auto;
}
.carousel-item {
    margin-bottom: 55.667px;
}
.carousel-indicators {
    position:absolute;
    top:270px;
}

.carousel-control-prev , .carousel-control-next {
    height: 300px;
}

#dropdown {
    padding-bottom: 10px;
}

#dropdown ul {
    right: 0;
    left: auto;
}

.carousel-item h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 10vw;
}

body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/recette-f3ef5.appspot.com/o/src%2Fwood.jpg?alt=media&token=f59c2780-b273-48d0-8093-d26cb00bf978);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}