.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#back, #options{
    width: 20px;
    height: auto;
    filter: invert(100%);
}

button {
    background-color: #499c79;
    border: 1px solid #FFF;
    height: 40px;
    width: 45px;
    border-radius: 4px;
    padding-bottom: 5px;
    
}

button:active #back,button:active #options {
        filter: brightness(0%);
}

button:active {
        background-color: #FFF;
}


footer{
    bottom: 0%;
    position: fixed;
}

#footspace{
    height: 55.667px;
}

#recipe{
    margin-bottom: 55.667px;
}

#dropdown {
    padding-bottom: 10px;
}

#dropdown ul {
    right: 0;
    left: auto;
}

#recipe {
    float:left;
    width: 400px;
}

#recipe img {
    width: 100%;
    border-style: solid;
    border-color: #000;
}
