.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#back{
    width: 20px;
    height: auto;
    filter: invert(100%);
}


.btn:hover #back {
        filter: brightness(0%);
}
button {
    background-color: #499c79;
    border: 1px solid #FFF;
    height: 40px;
    width: 45px;
    border-radius: 4px;
    padding-bottom: 5px;
    
}


button:active {
        background-color: #FFF;
footer{
    bottom: 0%;
    position: fixed;
}

#footspace{
    height: 55.667px;
}

#recipe{
    margin-bottom: 55.667px;
}