.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#back, #options{
    width: 20px;
    height: auto;
    filter: invert(100%);
}

button {
    background-color: #499c79;
    border: 1px solid #FFF;
    height: 40px;
    width: 45px;
    border-radius: 4px;
    padding-bottom: 5px;
    
}

button:active #back,button:active #options {
        filter: brightness(0%);
}

button:active {
        background-color: #FFF;
}


footer{
    bottom: 0%;
    position: fixed;
}

#footspace{
    height: 55.667px;
}

#recipe{
    margin-bottom: 55.667px;
    text-align: center;
    font-size: 4vw;
}

#dropdown {
    padding-bottom: 10px;
}

#dropdown ul {
    right: 0;
    left: auto;
}

#recipe img {
    width: 100%;
    max-width: 400px;
    border-style: solid;
    border-color: #000;
}

div h1 {
    font-size: 10vw;
    font-family: 'Roboto Slab', serif;
}
div h2 {
    font-size: 8vw;
    font-family: 'Roboto Slab', serif;
}

.container {
    font-family: 'Arimo', sans-serif;
}

body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/recette-f3ef5.appspot.com/o/src%2Fwood.jpg?alt=media&token=f59c2780-b273-48d0-8093-d26cb00bf978);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}