
body{
  background-color: #55B991;
}
.img1 {
  position: relative;
  top: 80px;
}
*.img1 > img {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  width: 170px;
}

.boxholder1{
  position:relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 220px;
  top: 150px;
}
/* 
.patatoe{
  width: 
} */


.input-group{
    margin-left: 11%;
    margin-top: 170px;
    width: 80%;
}

.btn-danger{
    background-color: #B76055;
}