.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

body > .container {
  padding: 60px 15px 0;
}

footer{
  width:100%
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}