.navbar{
  background-color: #499c79;
}

#brand{
    color:#FFF;
    font-family: 'Allura', cursive;
    font-size: 24pt;

}

#cam{
    width: 20px;
    height: auto;
}

#plus {
    width: 20px;
    height: auto;
}

#chkb {
    float: right;
}